html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}

:root {
    --azul: #037bc0;
    --gris-claro: #efefef;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

/* Globales */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}
/* Header y Navegacion */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor-navegacion{
    border-top: solid 1px #e1e1e1;
}

.nombre-sitio{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: var(--azul)
}

.contenedor-navegacion {
    border-top: 1px solid var(--gris-claro);
}

.nav-principal{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-principal a{
    align-items: center;
}

.hero{
    background-image: url('../img/principal.jpg');
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    color: #000;
}

.navegacion a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}

.navegacion a:first-child{
    color: red;
}

.sobre-empresa{
    color: white;
    width: 50rem;
    background-color: var(--azul);
    padding: 10rem;
}

/* Categorias */
.categorias h2{
    text-align: center;
    padding: 1rem 0rem;
}

.categorias div a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    background-color: var(--gris-claro);
    border-radius: 0px 0px 8px 8px;
}

.categorias div a:hover {
    background-color: var(--azul);
    columns: white;
    border-radius: 0px 0px 8px 8px;
    color: white;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Bloque Nosotros */

.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin-top: 3rem;
}

/* .grid-sn {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    column-gap: 8rem;
} */

.flex-sn {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    /* grid-column: 2 / 3; */
    color: white;
}

/* Utilidades */

.btn{
    font-size: 2rem;
    background-color: #8ab800;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    font-size: 1rem;
    transition: background-color .3s ease-out;
    width: 100%;
}

.btn:hover {
    background-color: #769c02;
}


.centrar {
    text-align: center;
}

.listado-productos {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
}

.producto img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(2) {
    grid-column: 1 / 4;
}
.producto:nth-child(3) {
    grid-column: 4 / 7;
}
.producto:nth-child(4) {
    grid-column: 1 / 3;
}
.producto:nth-child(5) {
    grid-column: 3 / 5;
}
.producto:nth-child(6) {
    grid-column: 5 / 7;
}

.producto {
    background-color: var(--azul);
}

.texto-producto {
    text-align: center;
    color: white;
    margin: 2rem;
}
.texto-producto h3{
    margin: 0;
}
h3 + p {
    text-align: left;
}
.precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto p {
    margin: 0 0 .5rem;
}

/* Footer */
.site-footer {
    border-top: 1px solid var(--gris-claro);
    margin-top: 5rem;
    padding-top: 5rem;
}

/* .grid-footer {
    display: flex;
    gap: 2rem;
}
.grid-footer div {
    flex: 1;
} */

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer h3 {
    margin-bottom: 3.5rem;
}
.grid-footer a {
    display: block;
}

footer p {
    text-align: center;
    margin-top: 5rem;
}